asyncpg
alembic
crud
fastapi
uvicorn
pydantic
requests
jinja2
sse_starlette
ijson
python-multipart
filelock
SQLAlchemy
fastapi[all] python-jose[cryptography] passlib[bcrypt] fastapi-mail pyotp
fastapi_mail
pyotp
captcha
bcrypt